@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

body {
  background-color: white;
  margin:0;
  padding:0;
}

html {
  margin:0;
  padding:0;
}

h1 {
  font-family: 'Lustria', serif;
  font-size: 8vw;
  margin: 20px;
}

h2 {
  font-family: 'Lustria', serif;
  font-size: calc(16px + 1vw);
  margin: 0.5vw;
}



h3 {
  font-family: 'Lustria', serif;
  font-size: calc(12px + 2vw);
}

span {
  font-size: calc(8px + 1vw);
}

input {
  font-size: calc(8px + 1vw);
}

button {
  font-family: 'Lustria', serif;
}
