.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #d8e4c8;
}

h1 {
  text-align: center;
}

.auth {
  font-family: 'Lustria', serif;
  background-color: #105b34;
  color: #ffffff;
  font-size: 3vw;
  width: 40%;
  padding: 5px;
  margin-top: 2vh;
  margin-bottom: 2vh;
}
